*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
**/google-services.json
**/GoogleService-Info.plist
**/firebase-messaging-sw.js


**/kotlin-js-store
**/kotlin-js-store/
.kotlin-js-store/

.yarn/
.yarn-integrity
yarn-error.log
npm-debug.log*
package-lock.json


**/build/distributions/
**/build/developmentExecutable/
**/build/processedResources/

.gradle/
gradle-app.setting
**/build-cache/

.idea/workspace.xml
.idea/tasks.xml
.idea/navTree.xml
.idea/assetWizardSettings.xml
.idea/dictionaries/
.idea/shelf/
**/gradle/wrapper/gradle-wrapper.jar.tag
